.seccion7{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 60vh;
    justify-content: center;
    background-color: #ffbd4a;
    position: relative;
    margin-top: 20px;

    h2{
        font-family: $WorkSans;
        margin-top: 20vh;
    }
    .texto{
        position: absolute;
        height: 45vh;
        width: 80vw;
        margin-top: 30vh;
        margin-left: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: $OpenSans;
            line-height: 60px;
            text-align: center;
            font-size: 20px;
            padding: 0 15px 0 15px;
        }
    }
}

@media (max-width:577px){
    .seccion7{
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        position: unset;
    
        h2{
            margin-top: 3vh;
            padding: 0 4vw 0 4vw;
            text-align: center;
        }
        .texto{
            position: unset;
            height: unset;
            width: unset;
            margin-top: unset;
            margin-left: unset  ;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-family: $OpenSans;
                line-height: 2.5rem;
                text-align: center;
                font-size: 1.125rem;
                padding: 0 1rem 0 1rem;
            }
        }
    }
    
}