.seccion9{
    height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 45vw;
            height: auto;
        }
    }
    .texto{
        width: 48vw;
        h3{
            font-family: $WorkSans;
        }
        p{
            font-family: $OpenSans;
        }
    }
}

@media (max-width:577px){
    .seccion9{
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .imagen{
            display: unset;
            justify-content: center;
            align-items: center;
            img{
                width: 96vw;
                height: auto;
            }
        }
        .texto{
            width: unset;
            margin: 5vh 7vw 0 7vw;
            h3{
                font-family: $WorkSans;
            }
            p{
                font-family: $OpenSans;
            }
        }
    }
    
}